# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
coverage.xml
htmlcov/

# Editors
.idea/
.vscode/
